dvc
.pytest_cache
.venv
data
docs
dvc_plots
mlartifacts
notebooks
references
reports
scripts
tests
*.pyc
__pycache__
.env
backend/.env

.git
.github
.venv
.pytest_cache
.dvc
data
mlartifacts
mlflow.db
notebooks
docs
tests
reports
references

